<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main">

<head>
<title>Menu</title>
</head>

<body>
<script type="text/javascript">
	alert();
</script>
	<!-- Main content -->
	<div layout:fragment="content">
		<div class="content-wrapper">
			<section class="content-header">
				<h1>
					Create Menu <small>Control panel</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="javaScript:void(0)"><i class="fa fa-dashboard"></i>Home</a></li>
					<li class="active">menu</li>
				</ol>
			</section>
			<section class="content">
			<div class="container">
			
				<form th:object="${menu}" data-handler="showMessage" class="form-horizontal"
					id="add_menu_form" method="post">
					<div class="form-group has-feedback">
						<input
							th:replace="fragments/inputField :: input ('Menu Code', 'menuCode')" />
						<input
							th:replace="fragments/inputField :: input ('Menu Short Name', 'menuShortName')" />
						<input
							th:replace="fragments/inputField :: input ('Menu Full Name', 'menuFullName')" />
						<input
							th:replace="fragments/inputField :: input ('Menu Icon', 'menuIcon')" />
						<input
							th:replace="fragments/inputField :: input ('Menu Code', 'menuDescription')" />
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button th:with="text=${menu} ? 'Add Menu' : 'Edit Menu'"
								class="btn btn-default" type="submit" th:text="${text}">Add
								Menu</button>
						</div>
					</div>
				</form>
				</div>
			</section>
		</div>
	</div>
	<div layout:fragment="script">
		<script>
		(function($){
			  var $form = $('#add_menu_form');
			  alert($form);
			  $form.on('submit', function(e) {
			    e.preventDefault();
			    $.ajax({
			      url: $form.attr('action'),
			      type: 'post',
			      data: $form.serialize(),
			      success: function(response) {
			        // if the response contains any errors, replace the form
			        if ($(response).find('.has-error').length) {
			          $form.replaceWith(response);
			        } else {
			          // in this case we can actually replace the form
			          // with the response as well, unless we want to 
			          // show the success message a different way
			        }
			      }
			  });
			})
			}(jQuery));		
		function showMessage(data){
			alert(data);
		}
		</script>
	</div>
</body>
</html>