<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main">

<head>
<title>Menu</title>
</head>

<body>
	<!-- Main content -->
	<div layout:fragment="content">
		<div class="content-wrapper">
			<section class="content-header">
				<h1>
					Create Menu <small>Control panel</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="javaScript:void(0)"><i
							class="fa fa-dashboard"></i>Home</a></li>
					<li class="active">menu</li>
				</ol>
			</section>
			<section class="content">
				<div class="container">
					<table id="example" class="table table-striped table-bordered"
						th:object="${menu}">
						 <thead>
						<tr>
							<th>Menu Code</th>
							<th>Menu Short Name</th>
							<th>Menu Full Name</th>
							<th>Menu Icon</th>
							<th>Action</th>
						</tr>
						</thead>
						<tbody>
							<tr>
								<td><b th:text="*{menuCode}"></b></td>
								<td th:text="*{menuShortName}" /></td>
								<td th:text="*{menuFullName}" /></td>
								<td th:text="*{menuIcon}" /></td>
								<td><a th:href="@{{id}/edit(id=${menu.id})}"
									class="btn btn-default"> Edit Menu</a> <a
									th:href="@{{id}/edit(id=${menu.id})}" class="btn btn-default">
										Menu delete</a></td>
							</tr>
						</tbody>
					</table>

					<a th:href="@{/menu/v1/new}" class="btn btn-default">Add Menu</a>
				</div>
			</section>
		</div>
	</div>
	<div layout:fragment="script">
		<script type="text/javascript">
		$(document).ready( function () {
			 var table = $('#example').DataTable();
		});
		</script>
	</div>
</body>
</html>