<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Spring Security Tutorial</title>
	<link rel="stylesheet" type="text/css" href="css/loginForm.css" th:href="@{/css/loginForm.css}" ></link>
	<link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
</head>

<body>
	<div class="wrapper">
    <form th:action="@{/login}" method="POST" class="form-signin"> 
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control" name="username" placeholder="Email Address" required autofocus th:placeholder="Username" />
      <input type="password" class="form-control" name="password" placeholder="Password" required th:placeholder="password"/>      
      <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="Login">Login</button>
      <div align="right">
				<a href="#" th:href="@{/registration}">Create a account</a>
	  </div>   
      <div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;">Username or Password invalid, please verify</p>
	  </div> 
    </form>
  </div>
</body>
</html>